@media screen and (min-width: 1400px) {
    .disconnect-div{
        font-size: medium;
    }

    .search-div{
        margin: 3% 0;
    }

    .search-bar{
        width: 300px;
    }

    .room-item{
        width: 70%;
        height: 60px;
    }

    .create-btn-div{
        right: 0;
    }

    .create-btn{
        align-self: center;
    }

    .token-error{
        width: 350px;
    }

    .refresh-popup{
        width: 140px;
        bottom: 20px;
    }
}

@media screen and (min-width: 1150px) and (max-width: 1400px) {
    .disconnect-div{
        font-size: 15px;
    }

    .title{
        font-size: 30px;
    }

    .search-div{
        margin: 3% 0;
    }

    .search-bar{
        width: 250px;
    }

    .create-btn-div{
        right: 0;
    }

    .create-btn{
        align-self: center;
    }

    .room-item{
        width: 80%;
        height: 60px;
    }

    .token-error{
        width: 330px;
    }

    .refresh-popup{
        width: 140px;
        bottom: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .disconnect-div{
        flex-direction: column;
    }

    .title{
        font-size: 25px;
    }
    
    .next-refresh-time{
        width: 35%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .room-item{
        width: 95%;
        height: 80px;
    }

    .search-div{
        margin: 8% 0 3% 0;
    }

    .search-bar{
        width: 220px;
    }

    .create-btn-div{
        right: 10px;
    }

    .create-btn{
        align-self: self-end;
    }

    .token-error{
        width: 315px;
    }

    .refresh-popup{
        width: 100px;
        bottom: 30px;
    }
}

.home{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.home-when-error{
    opacity: .5;
}

/* Disconnect */
.disconnect-div{
    width: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    right: 1%;
}

.disconnect-div p{
    margin-right: 10px;
}

.disconnect-link{
    cursor: pointer;
}

.disconnect-link:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Search */
.search-div{
    display: flex;
}

.search-bar{
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}

/* Refresh */
.refresh{
    cursor: pointer;
}

.refresh:hover{
    transform: scale(1.1);
}

.refresh-rotate{
    animation: rotate .4s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Rooms */
.rooms{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.room-item{
    background-color: transparent;
    border: 1px solid white;
    margin: 30px auto;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

.enter-password{
    background: transparent;
    border-radius: 5px;
    height: 50%;
    border: 1px solid white;
    outline: none;
    padding-left: 10px;
    color: white;
}

.enter-password-animations{
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

@keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-8px);
    }
}
  
@keyframes glow-red {
    50% {
        border-color: indianred;    
    }
}

.enter-password::placeholder{
    color: white;
}

.join-room{
    position: relative;
    top: 1%;
    background-color: rgb(204, 199, 199);
    border: 1px solid white;
    width: 15%;
    height: 54%;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.join-room-enable{
    background: transparent;
    cursor: pointer;
}

.room-join-error{
    color: pink;
    visibility: hidden;
    animation: show 3s linear;
}

@keyframes show{
    0%{ visibility: visible; }
}

/* Create Room Button */
.create-btn-div{
    width: 190px;
    height: fit-content;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
}

.create-btn{
    width: 70px;
    aspect-ratio: 1;
    background-color: rgb(204, 120, 222);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.create-btn:hover{
    background-color: rgb(192, 80, 218);
    animation: color .5s ease-in-out;
}

@keyframes color{
    0% { background-color: rgb(204, 120, 222) }
    100% { background-color: rgb(192, 80, 218) }
}

.popup{
    background: transparent;
    text-align: center;
    backdrop-filter: blur(20px);
    border: 1px solid white;
    border-radius: 5px;
    opacity: 0;
    animation: slow 5s ease-in-out;
}

@keyframes slow{
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

.create-popup{
    width: 40%;
    position: relative;
    bottom: 10px;
    align-self: center;
}

.refresh-popup{
    position: relative;
    color: white;
}

/* Token Error */
.token-error{
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    backdrop-filter: blur(10px);
    text-align: center;
    animation: slide 1.5s ease-in-out;
}

@keyframes slide{
    0% { top: 0 }
    100% { top: 50% }
}

.token-error p{
    width: 80%;
    word-break: keep-all;
}

.token--error-icon{
    transform: scale(2);
    margin: 10% 0;
}   

.token-error-btn{
    background: transparent;
    width: 60%;
    height: 10%;
    margin-top: 10%;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    color: white;
}