@media screen and (width >= 1400px) {
    .reset-password{
        width: 30%;
    }

    .reset-password-msg{
        width: 90%;
    }

    .new-password-error{
        width: 90%;
        margin: 5px 0 20px 5%;
    }
}

@media screen and (width < 1400px) {
    .reset-password-msg{
        width: 80%;
    }

    .new-password-error{
        width: 80%;
        margin: 5px 0 20px 10%;
    }
}

@media screen and (width >= 900px) and (width < 1400px) {
    .reset-password{
        width: 400px;
    }
}

@media screen and (width < 900px) {
    .reset-password{
        width: 350px;
    }
}

.reset-password{
    background: transparent;
    color: white;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align: center;
}

.reset-password form{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.reset-password-msg{
    margin-top: 7%;
}

.reset-password input{
    background: transparent;
    color: white;
    width: 50%;
    height: 50px;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 5%;
}

.reset-password input::placeholder{
    color: white;
}

.new-password-input{
    margin-bottom: 5%;
}

.submit-password-error{
    margin: 20px 0;
}

.reset-password button{
    width: 50%;
    height: 50px;
    font-size: medium;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

.btn-without-error{
    margin-top: 8%;
}

.back-to-login{
    font-weight: bold;    
}

.back-to-login:hover{
    cursor: pointer;
    text-decoration: underline;
}