.room{
    height: 100vh;
}

.room-grid-container{
    width: 90%;
    height: 85%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 23% 48% 27%;
    grid-template-rows: 8% 90%;
    column-gap: 1%;
    row-gap: 3%;
}

.top-room{
    background-color: rgb(231, 229, 229);
    display: flex;
    align-items: center;
    padding-left: 5%;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.top-room-clock{
    margin-right: 3%;
}

.top-room-round{
    margin-right: 31%;
}

.players{
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.player-location{
    font-size: large;
    font-weight: bold;
}

.player-details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-name{
    font-weight: bold;
}

.player-dark{
    background-color: white;
    filter: brightness(85%);
}

.player-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.chat{
    background-color: rgb(231, 229, 229);
    position: relative;
    grid-row-start: 2;
    grid-column-start: 3;
}

.chat-msgs{
    height: 93%;
    padding-left: 10px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.chat form{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
}

.chat input{
    background-color: white;
    width: 100%;
    height: 90%;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.toolbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.toolbar-cell{
    height: 100%;
    aspect-ratio: 1;
}

.colors-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.colors{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(2, auto);
}

.color{
    cursor: pointer;
}

.modes{
    display: flex;
}

.modes-cell{
    margin: 0 5px;
    position: relative;
}

.pointer-modes-cell{
    cursor: pointer;
}

.modes-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselected-icon{
    background-color: white;
}

.selected-icon{
    background-color: blueviolet;
}

.undo-icon{
    color: yellow;
    cursor: pointer;
}

.delete-icon{
    color: red;
    cursor: pointer;
}


.screen-msgs{
    position: absolute;
    bottom: 50%;
    left: 20px;
}