@media screen and (width >= 1400px){
    .toolbar{
        width: 100%;
        height: 10%;
        top: 3%;        
        display: flex;
        justify-content: space-around;
    }

    .toolbar-cell{
        height: 100%;
    }

    .colors-container{
        width: 50%;
    }

    .choose-thickness{
        height: 400%;
        bottom: 300%;
    }

    .current-thickness{
        height: 98%;
        aspect-ratio: .25;
    }
}

@media screen and (width <= 1400px){
    .toolbar{
        width: 100%;
        height: 15%;
        display: grid;
        grid-template-rows: repeat(2, 47.5%);
        grid-template-columns: repeat(2, 50%);
        row-gap: 5%;
    }

    .toolbar-cell{
        height: 100%;
    }

    .colors-container{
        width: 140%;
        margin-left: 10%;
        grid-column: 1;
        grid-row: 2;
    }

    .modes{
        width: 100%;
        justify-content: center;
        grid-column: 1 / 3;
        grid-row: 1;
    }       

    .choose-thickness{
        height: 200px;
        width: 50px;
        left: 60%;
        bottom: 166px;
    }

    .current-thickness{
        width: 100%;
        aspect-ratio: 1;
    }
}

@media screen and (width >= 1400px){
    .top-room{
        padding: 0 5% 0 7%;
    }    

    .leave-room-msg{
        width: 23%;
    }

    .close-room-msg{
        width: 25%;
    }
}

@media screen and (width < 1400px){
    .top-room{
        padding: 0 5%;
    }

    .leave-room-msg{
        width: 275px;
    }

    .close-room-msg{
        width: 300px;
    }
}

@media screen and (min-width: 1200px){
    .player-location{
        font-size: large;
    }
}

@media screen and (max-width: 1200px){
    .player-location{
        font-size: medium;
    }
    
    .player-details{
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    .player{
        padding: 0 5%;
    }
}

@media screen and (max-width: 1000px){
    .top-room{
        padding: 0 5% 0 3%;
    }
    
    .player{
        padding: 0 2%;
    }
}

.room{
    height: 100vh;
}

.room-grid-container{
    width: 90%;
    height: 85%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 22% 50% 26%;
    grid-template-rows: 7% 90%;
    column-gap: 1%;
    row-gap: 3%;
}

/* top room design */

.top-room{
    background-color: rgb(231, 229, 229);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.top-room-left-side{
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.top-room-right-side{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/* top room buttons */

.top-room-button{
    width: 45%;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.top-room-buttons:hover { 
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
}

.start-button{
    background-color: #53E583;
    border-bottom: 4px solid #179e43;
    cursor: pointer;
}

.leave-button{
    background-color: red;
    border-bottom: 4px solid rgb(144, 0, 0);
}

.leave-button-enabled{
    cursor: pointer;
}

.leave-button-disabled{
    opacity: .3;
}

.leave-button-without-start{
    position: relative;
    left: 55%;
}

/* players list design */

.players{
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-location{
    font-weight: bold;
}

.player-details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-name{
    font-weight: bold;
}

.player-dark{
    background-color: white;
    filter: brightness(85%);
}

.player-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct-answer{
    background-color: aquamarine;
}

/* center room div */

.center-room{
    grid-area: 2 / 2;
}

/* canvas design */

.canvas{
    z-index: -1;
}

/* msgs between turns */

.screen-msgs{
    background-color: rgb(62, 63, 63);
    position: absolute;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
    font-size: xx-large;
    color: white;
    z-index: 1;
}

.screen-msgs li{
    list-style-type: none;
}

.random-words{
    width: 90%;
}

.random-word{
    cursor: pointer;
    list-style-type: none;
}

.zero-score{
    color: lightcoral
}

.got-score{
    color: lightgreen;
}

.end-msg{
    font-size: x-large;
}

.restart-game{
    font-weight: bold;
}

.restart-game:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* chat */

.chat{
    background-color: rgb(231, 229, 229);
    position: relative;
    grid-row-start: 2;
    grid-column-start: 3;
}

.chat-msgs{
    width: 95%;
    height: 93%;
    padding-left: 10px;
    word-break: break-all;
    overflow: hidden;
    scroll-behavior: smooth;
}

.chat form{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 0;
}

.chat input{
    background-color: white;
    width: 100%;
    height: 90%;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

/* toolbar */

.toolbar{
    position: relative;
}

.toolbar-cell{
    aspect-ratio: 1;
}

/* colors */

.colors-container{
    display: flex;
    justify-content: space-between;
}

.colors{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, auto);
    grid-template-rows: repeat(2, auto);
}

.color{
    cursor: pointer;
}

/* thicknesses */

.choose-thickness{
    position: relative;
    display: flex;
    flex-direction: column;
}

.current-thickness{
    background-color: rgb(184, 181, 181);
    cursor: pointer;
}

.thickness-circle{
    background-color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 50%;
}

.thicknesses{
    background-color: rgb(207, 204, 204);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.show-thicknesses{
    visibility: visible;
}

.hide-thicknesses{
    visibility: hidden;
}

.thickness-item{
    height: 100%;
    aspect-ratio: 1;
}

.thickness-item:hover{
    background-color: rgb(148, 146, 146);
}

.thickness-item{
    border-bottom: 1px solid white;
}

.small{
    width: 30%;
}

.medium{
    width: 50%;
}

.large{
    width: 70%;
}

/* modes */

.modes{
    display: flex;
}

.modes-cell{
    margin: 0 5px;
    position: relative;
}

.pointer-modes-cell{
    cursor: pointer;
}

.modes-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselected-icon{
    background-color: white;
}

.selected-icon{
    background-color: blueviolet;
}

.undo-icon{
    color: yellow;
    cursor: pointer;
}

.delete-icon{
    color: red;
    cursor: pointer;
}

/* room msg */

.msg{
    background-color: rgb(155, 58, 193);
    z-index: 2;
}

.msg button{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .5s;
}

.msg button:hover{
    transform: scale(1.1);
}

/* leave */

.leave-room-icon{
    margin: 13% 0;
}

.leave-room-p{
    width: 90%;
    word-break: keep-all;
}

.leave-room-buttons{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin-top: 13%;
}

.leave-room-msg button{
    width: 40%;
}

/* close */

.close-room-icon{
    margin: 11% 0;
}

.return-back-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-home-button{
    margin-top: 9%;
    width: 40%;
    aspect-ratio: 3;
}